body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    background-color: #004085;
    color: white;
    padding: 10px;
    text-align: center;
}

.nav {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.nav button {
    background-color: #004085;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.nav button:hover {
    background-color: #003366;
}

.content {
    padding: 20px;
}

.info {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
}

.info h2 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    
}

td {
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #FFD0D7
}

img {
    width: 150px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}
